/* Global CSS Attributes */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Array";
  src: url("/fonts/ARRAY-REGULAR.OTF") format("otf");
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/SATOSHI-LIGHT.OTF") format("otf");
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("/fonts/IBMPLEXMONO-EXTRALIGHT.TTF") format("truetype");
}

@font-face {
  font-family: "InstrumentSerif-Regular";
  src: url("/fonts/InstrumentSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "InstrumentSerif-Italic";
  src: url("/fonts/InstrumentSerif-Italic.ttf") format("truetype");
}

:root {
  --font-title: "Array", sans-serif;
  --font-header: "InstrumentSerif-Regular", serif;
  --font-body: "Satoshi", sans-serif;
  --font-nav: "Satoshi";

  --text-color: #ffffe3;
  --bg-color: #10100e;
  --accent-color: #00becf;
  --accent-color2: #fc9feb;
}

body {
  background-color: var(--bg-color);
  max-width: 1440px;
  margin-inline: auto;
}

h1 {
  font-size: clamp(2rem, 0.7179rem + 5.4701vw, 4rem);
  font-family: var(--font-header);
  color: var(--text-color);
}

h2 {
  font-size: clamp(1.625rem, 1.0638rem + 2.3932vw, 2.5rem);
  font-family: var(--font-header);
  color: var(--text-color);
}

h3 {
  font-size: clamp(1.375rem, 1.0545rem + 1.3675vw, 1.875rem);
  font-family: var(--font-header);
  color: var(--text-color);
  font-weight: 200;
}

p {
  font-size: clamp(1rem, 0.9199rem + 0.3419vw, 1.125rem);
  font-family: var(--font-body);
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

picture {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

a:link {
  text-decoration: none;
  color: var(--text-color);
}

a:visited {
  color: var(--text-color);
}
/* Menu Navigation styles */
.menu-nav {
  display: flex;
  font-family: var(--font-nav);
  color: var(--text-color);
  font-weight: 100;
  border-bottom: solid 1px var(--text-color);
  padding: 24px 64px 24px 64px;
  align-items: center;
}

.menu-tabs {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  gap: 32px;
  border-bottom: solid 1px transparent;
}

#about:hover,
#projects:hover,
#resume:hover {
  color: var(--accent-color);
  transition: ease-in-out 0.3s;
  cursor: pointer;
  border-bottom: solid 1px var(--accent-color);
}

#logo {
  font-family: var(--font-title);
  color: var(
    --accent-color
  ); /* Initial color, visible when background-image is not revealed */
  font-size: 32px;

  /* Added styles for color animation */
  transition:
    color 0.4s ease-in-out,
    background-position 0.4s ease-in-out;
  background-image: radial-gradient(
    circle,
    rgba(0, 190, 207, 1) 0%,
    rgba(252, 159, 235, 1) 70%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block; /* Ensure it behaves like website-title for background-clip */
}

/* Dropdown Menu Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bg-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.dropdown-content a {
  color: var(--text-color);
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: var(--accent-color);
  border-bottom: solid 1px var(--accent-color);
  transition: ease-in-out 0.3s;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}

#logo:hover {
  color: transparent; /* Reveals background-image on hover */
  cursor: pointer;
}

/* Title and Qualifications */

.qualifications {
  font-family: var(--font-header);
  color: var(--text-color);
  font-size: 2.625rem;
  margin-left: 64px;
}

.dots {
  color: var(--accent-color);
}

.custom-super {
  vertical-align: super;
  font-size: 0.4em;
  line-height: 0;
  font-weight: 600;
  color: var(--accent-color);
  font-weight: 200;
}

#website-title {
  font-family: var(--font-title);
  transform: translateX(0px);
  animation: floating 2s ease-in-out infinite;
  transition:
    color 0.4s ease-in-out,
    background-position 0.4s ease-in-out;
  background-image: radial-gradient(
    circle,
    rgba(0, 190, 207, 1) 0%,
    rgba(252, 159, 235, 1) 70%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  font-weight: 200;
  font-size: 8rem;
  margin-left: 64px;
}

#website-title:hover {
  color: transparent;
  cursor: pointer;
  animation: floating 2s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Hero Image and Text Below it and Logo Links */

.hero-section img {
  height: 60vh;
  width: 100%;
  margin-top: 32px;
}

.description-hero {
  font-family: var(--font-body);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  padding: 0 64px 32px 64px;
  margin-top: 32px;
  border-bottom: solid 1px var(--text-color);
}

.desc-text {
  width: 40vw;
  font-size: 1.2rem;
  font-weight: 100;
}

.desc-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
}

.desc-icons img {
  height: 32px;
  width: 32px;
}

.desc-icons img:hover {
  cursor: pointer;
}

.desc-icons a {
  display: inline-block;
  line-height: 0;
}

/* Project Cards under Hero */

.project-grid {
  display: flex;
  flex-direction: column;
  min-height: 720px;
}

.project-card-1,
.project-card-2 {
  display: flex;
  align-items: center; /* Vertically center image and description */
  gap: 32px; /* Space between image and description */
  border-bottom: solid 1px var(--text-color); /* Added border at the bottom */
}

/* Specific rule for the last project card to remove its bottom margin */
.project-grid .project-card-2 {
  margin-bottom: 0;
}

.project-card-1 {
  flex-direction: row; /* Image on left, description on right */
}

.project-card-2 {
  flex-direction: row-reverse; /* Description on left, image on right */
}

.project-card-1 img,
.project-card-2 img {
  width: 50%; /* Image takes 50% of the card width */
  flex-shrink: 0; /* Prevent image from shrinking */
}

.project-card-1-desc,
.project-card-2-desc {
  flex: 1;
  padding: 0px 64px; /* Allow description to grow and shrink */
}

.project-card-1-desc span,
.project-card-2-desc span {
  display: block; /* Changed from flex, as h3 will handle alignment */
  color: var(--accent-color);
  margin-bottom: 8px; /* Added some spacing below the span */
}

.project-card-1-desc h3,
.project-card-2-desc h3 {
  display: flex;
  justify-content: space-between; /* Puts span on left, text on right within h3 */
  text-align: left; /* Align text within h3 to the left */
  margin-bottom: 8px; /* Added some spacing below the h3 */
}

.project-card-1-desc p {
  text-align: right;
  font-weight: 100;
}
.project-card-2-desc p {
  text-align: left;
  font-weight: 100; /* Align paragraph text to the left */
}

/* About Me Page */

.about-grid {
  margin: 64px 64px 32px 64px;
}

#about-title {
  border-bottom: 1px solid var(--text-color);
  margin-bottom: 64px;
}

.about-flex-container {
  display: flex;
  gap: 32px;
  margin-top: 64px;
  justify-content: space-between; /* Added some top margin for spacing from the title */
}

.about-info {
  flex: 1;
  max-width: 530px; /* Allow the text container to take available space */
}

.about-desc {
  margin-bottom: 32px;
}

.about-img {
  flex: 1;
  max-width: 50%;
  height: 560px; /* Allow the image to take available space */
  /* display: flex;
  flex-direction: row; */ /* These are no longer needed here */
}

/* Lorsque le temps est za project page */

.picture-lorsque {
  margin: 64px;
  overflow: hidden;
}

.lorsque-title {
  font-weight: 200;
  margin: 0 auto;
  text-align: center;
}

.lorsque-desc-container {
  display: flex;
  gap: 40px;
  margin: 64px 32px;
  align-items: center;
}

.bw-gars {
  width: 33%;
  object-fit: contain;
}

.lorsque-text {
  flex: 2;
  column-count: 2;
  column-gap: 40px;
  font-weight: 50;
  text-align: justify;
  hyphens: auto;
}

#fatu {
  margin: 64px;
  overflow: hidden;
}

.lorsque-extrait {
  display: flex;
  margin-bottom: 64px;
}

.lorsque-page {
  min-width: 35vw;
  margin-left: 64px;
  display: flex;
  flex-direction: column;
}

.lorsque-page p {
  font-family: var(--font-header);
  margin-top: auto;
}

.lorsque-paragraph1 {
  margin-right: 64px;
}

.lorsque-paragraph1 p {
  font-weight: 100;
}

.lorsque-paragraph2 {
  margin-left: 64px;
  margin-bottom: 64px;
  flex: 1;
}

.lorsque-extrait2 {
  max-width: 1440px;
  margin: 64px auto;
  display: flex;
  gap: 40px;
}

.lorsque-extrait2 p {
  font-weight: 100;
}

.lorsque-extrait2 picture {
  max-width: 30vw;
}

.lorsque-img-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 30vw;
  gap: 20px;
}

.lorsque-img-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

.lorsque-page2 {
  margin-left: 64px;
}

.lorsque-page2 p {
  font-family: var(--font-header);
  font-weight: 100;
}

#woods {
  margin: 64px;
  overflow: hidden;
}

/* Bogota Project Page */

.picture-bogota {
  margin: 64px;
  overflow: hidden;
}

.bogota-title {
  font-weight: 200;
  margin: 64px auto;
  text-align: center;
}

.bogota-text {
  max-width: 60%;
  margin: 0 auto;
  flex: 2;
  column-count: 2;
  column-gap: 40px;
  font-weight: 50;
  text-align: justify;
  hyphens: auto;
}

.bogota-img-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 64px;
  overflow: hidden;
}

.bogota-img-wrapper img {
  max-width: 660px;
  height: auto;
}

/* DSR Project */

.picture-dsr {
  margin: 64px;
  overflow: hidden;
}

.dsr-bogota {
  margin: 64px;
  overflow: hidden;
}

.dsr-title {
  font-weight: 200;
  margin: 64px auto;
  text-align: center;
}

.dsr-text {
  max-width: 60%;
  margin: 0 auto;
  flex: 2;
  column-count: 2;
  column-gap: 40px;
  font-weight: 50;
  text-align: justify;
  hyphens: auto;
}

.dsr-img-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 64px;
  overflow: hidden;
}

.dsr-img-wrapper img {
  max-width: 660px;
  max-height: 800px;
}

#dsr-setup {
  display: flex;
  margin: 0 auto;
  max-width: 700px;
  height: auto;
}
