/* Global CSS Attributes */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Array";
  src: url("/fonts/ARRAY-REGULAR.OTF") format("otf");
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/SATOSHI-LIGHT.OTF") format("otf");
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("/fonts/IBMPLEXMONO-EXTRALIGHT.TTF") format("truetype");
}

@font-face {
  font-family: "InstrumentSerif-Regular";
  src: url("/fonts/InstrumentSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "InstrumentSerif-Italic";
  src: url("/fonts/InstrumentSerif-Italic.ttf") format("truetype");
}

:root {
  --font-title: "Array", sans-serif;
  --font-header: "InstrumentSerif-Regular", serif;
  --font-body: "Satoshi", sans-serif;
  --font-nav: "Satoshi";

  --text-color: #ffffe3;
  --bg-color: #10100e;
  --accent-color: #00becf;
  --accent-color2: #fc9feb;
}

body {
  background-color: var(--bg-color);
}

h1 {
  font-size: clamp(2rem, 0.7179rem + 5.4701vw, 4rem);
  font-family: var(--font-header);
  color: var(--text-color);
}

h2 {
  font-size: clamp(1.625rem, 1.0638rem + 2.3932vw, 2.5rem);
  font-family: var(--font-header);
  color: var(--text-color);
}

h3 {
  font-size: clamp(1.375rem, 1.0545rem + 1.3675vw, 1.875rem);
  font-family: var(--font-header);
  color: var(--text-color);
}

p {
  font-size: clamp(1rem, 0.9199rem + 0.3419vw, 1.125rem);
  font-family: var(--font-body);
  color: var(--text-color);
}

picture {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Menu Navigation styles */
.menu-nav {
  display: flex;
  font-family: var(--font-nav);
  color: var(--text-color);
  font-weight: 100;
  border-bottom: solid 1px var(--text-color);
  padding: 24px 64px 24px 64px;
  align-items: center;
}

.menu-tabs {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  gap: 32px;
  border-bottom: solid 1px transparent;
}

#about:hover,
#projects:hover,
#resume:hover {
  color: var(--accent-color);
  transition: ease-in-out 0.3s;
  cursor: pointer;
  border-bottom: solid 1px var(--accent-color);
}

#logo {
  font-family: var(--font-title);
  color: var(--accent-color);
  font-size: 32px;
}

/* Title and Qualifications */

.qualifications {
  font-family: var(--font-header);
  color: var(--text-color);
  font-size: 2.625rem;
  margin-left: 64px;
}

.dots {
  color: var(--accent-color);
}

.custom-super {
  vertical-align: super;
  font-size: 0.4em;
  line-height: 0;
  font-weight: 600;
  color: var(--accent-color);
  font-weight: 200;
}

#website-title {
  font-family: var(--font-title);
  transform: translateX(0px);
  animation: floating 2s ease-in-out infinite;
  transition:
    color 0.4s ease-in-out,
    background-position 0.4s ease-in-out;
  background-image: radial-gradient(
    circle,
    rgba(0, 190, 207, 1) 0%,
    rgba(252, 159, 235, 1) 70%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  font-weight: 200;
  font-size: 8rem;
  margin-left: 64px;
}

#website-title:hover {
  color: transparent;
  cursor: pointer;
  animation: floating 2s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Hero Image and Text Below it */

.hero-section img {
  height: 60vh;
  width: 100%;
  margin-top: 32px;
}

.description-hero {
  font-family: var(--font-body);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  padding: 0 64px 32px 64px;
  margin-top: 32px;
  border-bottom: solid 1px var(--text-color);
}

.desc-text {
  width: 40vw;
  font-size: 1.2rem;
}

.desc-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  height: 32px;
  width: 32px;
}

.desc-icons:hover {
  color: var(--accent-color);
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
